
<!DOCTYPE html>
<html>
<head>
<title>HTML Tutorial</title>
<script>
var one;
var two;
var shitch;
var onoff;
var drop;
var i_t;
var f_t;
function first(c) {
    var x = document.getElementById("1");
    if (c == 1) {
        x.style.display = "none";
    } else {
        x.style.display = "block";
    }
    one=c;
    alert(one);
    document.getElementById("ch1").value = c;
}
function second(b) {
    alert(one);
    two=b;
    document.getElementById("ch2").value = b;
    alert(two);
}
function on_off(v) {
    onoff=v;
    alert(onoff);
    document.getElementById("ch3").value = v;
}
function rswitch(s) {
    shitch=s;
    document.getElementById("ch4").value = s;
    alert(shitch);
}
function timecalc(){
    i_t = document.getElementById("myTime_i").value;
    document.getElementById("demo1").innerHTML = i_t;
    f_t = document.getElementById("myTime_f").value;
    document.getElementById("demo2").innerHTML = f_t;
    document.getElementById("ch5").value = i_t;
    document.getElementById("ch6").value = f_t;
}


</script>
</head>

<body>
        
<form method="POST" action="/sendparthge">
<button onclick="first(1)" type="button">Turn on remocon</button>
<button onclick="first(2)" type="button">Turn on the longserve</button>
<br>
<hr2>room</hr2>
<br>
<button onclick="second(1)" type="button">1</button>
<button onclick="second(2)" type="button">2</button>
<button onclick="second(3)" type="button">3</button>
<button onclick="second(4)" type="button">4</button>
<button onclick="second(5)" type="button">5</button>
<button onclick="second(6)" type="button">6</button>
<button onclick="second(7)" type="button">7</button>
<button onclick="second(8)" type="button">8</button>
<button onclick="second(9)" type="button">9</button>
<button onclick="second(10)" type="button">10</button>
<button onclick="second(11)" type="button">11</button>
<button onclick="second(12)" type="button">12</button>
<button onclick="second(13)" type="button">13</button>
<button onclick="second(14)" type="button">14</button>
<button onclick="second(15)" type="button">15</button>
<button onclick="second(16)" type="button">16</button>
<button onclick="second(17)" type="button">17</button>
<button onclick="second(18)" type="button">18</button>
<button onclick="second(19)" type="button">19</button>
<button onclick="second(20)" type="button">20</button>
<button onclick="second(21)" type="button">21</button>
<br>
<br>
<hr2>switch</hr2>
<br>
<button onclick="rswitch(1)" type="button">1</button>
<button onclick="rswitch(2)" type="button">2</button>
<button onclick="rswitch(3)" type="button">3</button>
<button onclick="rswitch(4)" type="button">4</button>
<button onclick="rswitch(5)" type="button">5</button>
<button onclick="rswitch(6)" type="button">6</button>
<button onclick="rswitch(7)" type="button">7</button>
<button onclick="rswitch(8)" type="button">8</button>
<button onclick="rswitch(9)" type="button">9</button>
<button onclick="rswitch(10)" type="button">10</button>
<button onclick="rswitch(11)" type="button">11</button>
<button onclick="rswitch(12)" type="button">12</button>
<button onclick="rswitch(13)" type="button">13</button>
<button onclick="rswitch(14)" type="button">14</button>
<button onclick="rswitch(15)" type="button">15</button>
<button onclick="rswitch(16)" type="button">16</button>
<button onclick="rswitch(17)" type="button">17</button>
<button onclick="rswitch(18)" type="button">18</button>
<button onclick="rswitch(19)" type="button">19</button>
<button onclick="rswitch(20)" type="button">20</button>
<button onclick="rswitch(21)" type="button">21</button>
<br>
<button onclick="on_off(1)" type="button">on</button>
<button onclick="on_off(0)" type="button">off</button>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="1" hidden="False">
<input type="time" id="myTime_i" value="22:15:00">
<input type="time" id="myTime_f" value="22:15:00">
<br>
<button onclick="first(1)" type="button">Turn on remocon</button>
<button onclick="first(2)" type="button">Turn on the longserve</button>
<p id="demo1"></p>
<p id="demo2"></p>
<input type="button" onclick="timecalc()">time</input>
</div>









<input type="hidden" name="iot_s" value='iot' id="ch1">
<input type="hidden" name="room" value='room' id="ch2">
<input type="hidden" name="state" value="state" id="ch3">
<input type="hidden" name="switch_c" value='switch' id="ch4">
<input type="hidden" name="time_i_t" value="0" id="ch5">
<input type="hidden" name="time_f_t" value="0" id="ch6">

<br>
<br>
<br>
<br>
<br>
<br>
<button type="submit" onclick="timecalc()">submit</button>
</form>

























</body>
</html>